In [68]:
from IPython.display import display # Allows the use of display() for DataFrames
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

%matplotlib inline
pd.set_option('display.max_columns', None)
sns.set()

## Demographics

In [170]:
demo_df = pd.read_excel("../data/demographics 8-15-16.xlsx",infer_datetime_format=True)
print demo_df.shape
print demo_df.dtypes
demo_df.head()

(944, 28)
PIN                          int64
Status                      object
Gender                      object
D.O.B.                      object
Age                        float64
Language                    object
Living Set-Up               object
Medicaid                    object
Hospitalized                object
RPM Hospitalized            object
RPM Falls                   object
Rehospitalized              object
RPM Rehospitalized          object
CHF                         object
COPD                        object
Diabetes                    object
Hypertension                object
Stroke                      object
Hypoglycemia                object
Falls                       object
Liver Disease               object
Hypotension                 object
Obesity                     object
Coronary Artery Disease     object
Fractures                   object
Renal                       object
Alzheimer's                 object
Depression                  object
dtype: object

,PIN,Status,Gender,D.O.B.,Age,Language,Living Set-Up,Medicaid,Hospitalized,RPM Hospitalized,RPM Falls,Rehospitalized,RPM Rehospitalized,CHF,COPD,Diabetes,Hypertension,Stroke,Hypoglycemia,Falls,Liver Disease,Hypotension,Obesity,Coronary Artery Disease,Fractures,Renal,Alzheimer's,Depression
0,10001,A,F,12-22-1940,75.698630,English,Family No CG,N,Y,Y,Y,N,N,NaN,NaN,NaN,X,NaN,X,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN
1,10002,A,F,04-24-1933,83.367123,English,Alone No CG,N,N,NaN,Y,N,NaN,NaN,X,X,X,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN
2,10003,D,F,08-18-1920,96.057534,English,Family No CG,Y,N,NaN,NaN,N,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004,A,F,12-15-1948,67.712329,English,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10005,D,F,02-18-1934,82.545205,English,NaN,N,N,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
for col in demo_df.columns:
    print demo_df[col].value_counts(dropna=False)

60135     2
70060     2
30139     2
60122     1
60134     1
60133     1
60132     1
60131     1
30017     1
60129     1
60128     1
60127     1
60126     1
60125     1
60124     1
60123     1
230001    1
60136     1
30150     1
60119     1
60118     1
60117     1
60116     1
60115     1
60114     1
60113     1
60112     1
60111     1
60110     1
60121     1
         ..
30037     1
30039     1
30066     1
200024    1
30065     1
30064     1
30063     1
200046    1
200045    1
30060     1
200043    1
30058     1
200041    1
200040    1
30055     1
30054     1
200037    1
30052     1
200035    1
200034    1
200033    1
30048     1
30047     1
200030    1
30045     1
30044     1
200027    1
200026    1
30041     1
50054     1
Name: PIN, dtype: int64
A    680
D    263
M      1
Name: Status, dtype: int64
F      748
M      195
NaN      1
Name: Gender, dtype: int64
NaN                    164
08-20-1937               2
05-20-1941               2
07-21-1936               2
01-01-1950               2
11-06-1935               2
06-09-1927               2
04-06-1941               2
06-08-1925               2
11-28-1940               2
09-04-1944               2
11-22-1937               2
07-30-1935               2
05-16-1936               2
04-27-1948               1
01-06-1952               1
11-05-1965               1
09-27-1928               1
12-13-1936               1
1979-01-24 00:00:00      1
01-28-1959               1
10-17-1930               1
08-21-1938               1
03-29-1932               1
04-27-1941               1
12-15-1928               1
05-17-1963               1
10-07-1963               1
08-03-1968               1
01-14-1921               1
                      ...
05-26-1937               1
07-20-1932               1
12-29-1930               1
06-28-1953               1
04-07-1937               1
1986-06-28 00:00:00      1
02-15-1942               1
11-26-1933               1
12-09-1937               1
11-22-1927               1
1972-11-30 00:00:00      1
03-05-1926               1
03-05-1937               1
08-01-1931               1
04-11-1962               1
01-13-1941               1
08-24-1945               1
09-26-1947               1
03-13-1943               1
05-06-1946               1
01-02-1943               1
05-18-1939               1
06-01-1928               1
09-21-1928               1
1974-04-14 00:00:00      1
10-21-1940               1
03-20-1920               1
09-21-1943               1
05-18-1933               1
07-08-1946               1
Name: D.O.B., dtype: int64
NaN           164
 75.290411      2
 89.246575      2
 71.994521      2
 81.101370      2
 75.410959      2
 75.764384      2
 91.249315      2
 79.041096      2
 80.123288      2
 80.830137      2
 66.665753      2
 80.304110      2
 79.871233      2
 78.783562      2
 64.652055      1
 41.306849      1
 49.684932      1
 77.189041      1
 55.939726      1
 70.709589      1
 78.126027      1
 77.504110      1
 92.794521      1
 63.441096      1
 44.312329      1
 92.545205      1
 81.808219      1
 61.298630      1
 76.364384      1
             ...
 72.953425      1
 72.950685      1
 85.041096      1
 78.797260      1
 77.917808      1
 75.613699      1
 86.624658      1
 82.632877      1
 77.852055      1
 88.528767      1
 92.030137      1
 84.117808      1
 69.495890      1
 69.873973      1
 66.326027      1
 82.252055      1
 63.315068      1
 35.397260      1
 85.410959      1
 49.983562      1
 75.353425      1
 81.961644      1
 30.413699      1
 85.021918      1
 80.032877      1
 79.410959      1
 85.789041      1
 37.583562      1
 82.545205      1
 65.268493      1
Name: Age, dtype: int64
English    634
NaN        162
Spanish    125
Other       22
Female       1
Name: Language, dtype: int64
Alone No CG      519
Family No CG     204
NaN              179
Alone CG          19
Family CG         11
Alone no CG        8
Family no CG       3
Alone with CG      1
Name: Living Set-Up, dtype: int64
N      364
Y      325
NaN    255
Name: Medicaid, dtype: int64
N      560
Y      214
NaN    170
Name: Hospitalized, dtype: int64
NaN    843
Y       99
N        2
Name: RPM Hospitalized, dtype: int64
NaN    886
Y       57
N        1
Name: RPM Falls, dtype: int64
N      732
NaN    174
Y       37
Y        1
Name: Rehospitalized, dtype: int64
NaN    845
N       79
Y       20
Name: RPM Rehospitalized, dtype: int64
NaN    917
X       27
Name: CHF, dtype: int64
NaN    851
X       93
Name: COPD, dtype: int64
NaN    762
X      181
x        1
Name: Diabetes, dtype: int64
NaN    533
X      411
Name: Hypertension, dtype: int64
NaN    897
X       47
Name: Stroke, dtype: int64
NaN    931
X       13
Name: Hypoglycemia, dtype: int64
NaN    913
X       31
Name: Falls, dtype: int64
NaN    933
X       10
x        1
Name: Liver Disease, dtype: int64
NaN    929
X       15
Name: Hypotension, dtype: int64
NaN    876
X       68
Name: Obesity, dtype: int64
NaN    877
X       67
Name: Coronary Artery Disease, dtype: int64
NaN    931
X       13
Name: Fractures, dtype: int64
NaN    929
X       15
Name: Renal, dtype: int64
NaN    930
X       14
Name: Alzheimer's, dtype: int64
NaN    877
X       67
Name: Depression, dtype: int64

### Drop duplicate PINs, rename columns, investigate some odd features

In [71]:
print demo_df.shape
demo_df.drop_duplicates(['PIN'],keep=False,inplace=True)
print demo_df.shape

(944, 28)
(938, 28)

In [72]:
demo_df.rename(columns=lambda x: x.lower().replace(" ","_"),inplace=True)
demo_df.rename(columns={"alzheimer's":'alzheimers'},inplace=True)
print demo_df.columns

Index([                    u'pin',                  u'status',
                        u'gender',                  u'd.o.b.',
                           u'age',                u'language',
                 u'living_set-up',                u'medicaid',
                  u'hospitalized',        u'rpm_hospitalized',
                     u'rpm_falls',          u'rehospitalized',
            u'rpm_rehospitalized',                     u'chf',
                          u'copd',                u'diabetes',
                  u'hypertension',                  u'stroke',
                  u'hypoglycemia',                   u'falls',
                 u'liver_disease',             u'hypotension',
                       u'obesity', u'coronary_artery_disease',
                     u'fractures',                   u'renal',
                    u'alzheimers',              u'depression'],
      dtype='object')

In [73]:
display(demo_df[demo_df['status']=='M'])
display(demo_df[demo_df['gender'].isnull()])

,pin,status,gender,d.o.b.,age,language,living_set-up,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression
852,240026,M,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,pin,status,gender,d.o.b.,age,language,living_set-up,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression
535,60151,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Clean-up and recode factors

In [74]:
demo_df['status_active']=demo_df['status'].replace(['M','A','D'],[1,1,0])
demo_df['language']=demo_df['language'].replace(['Female'],['Other'])
demo_df = pd.get_dummies(demo_df,columns=['gender','language'], prefix = ['gender','lang'])
demo_df['d.o.b.']=pd.to_datetime(demo_df['d.o.b.'])
demo_df['living_set-up']=demo_df['living_set-up'].replace(['Alone no CG','Family no CG','Alone with CG'],
                                                          ['Alone No CG','Family No CG','Alone CG'])
demo_df['caregiver']=demo_df['living_set-up'].replace(['Alone No CG','Family No CG','Alone CG','Family CG'],[0,0,1,1])
demo_df['live_alone']=demo_df['living_set-up'].replace(['Alone No CG','Family No CG','Alone CG','Family CG'],[1,0,1,0])

for col in [u'medicaid', u'hospitalized', u'rpm_hospitalized',u'rpm_falls',u'rehospitalized',u'rpm_rehospitalized']:
    demo_df[col]=demo_df[col].replace(['N','Y','Y ',np.nan],[0,1,1,np.nan])

for col in [u'chf', u'copd', u'diabetes',u'hypertension', u'stroke',u'hypoglycemia', u'falls',
            u'liver_disease', u'hypotension',u'obesity', u'coronary_artery_disease',u'fractures',
            u'renal',u'alzheimers', u'depression']:
    demo_df[col]= demo_df[col].replace([np.nan, 'X','x'], [0, 1,1])

demo_df.drop(['living_set-up','status','age'],axis=1,inplace=True)

In [75]:
demo_df.head()

,pin,d.o.b.,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,status_active,gender_F,gender_M,lang_English,lang_Other,lang_Spanish,caregiver,live_alone
0,10001,1940-12-22,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,10002,1933-04-24,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,10003,1920-08-18,1.0,0.0,NaN,NaN,0.0,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,10004,1948-12-15,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,NaN,NaN
4,10005,1934-02-18,0.0,0.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,NaN,NaN

## Readings

In [76]:
read_df = pd.read_excel("../data/readings 8-11-16.xlsx",sheetname='Supr&DupsRemoved')
read_df.head()

,EndUserId,ReadingId,TIPS ID,ReadingType,ReadingDate,Systolic,Diastolic,HeartRate,Weight,SP02,HeartRate_SP02,ReadingSuppressedOn,Steps
0,5,106,230001,PulseOx,2015-05-11 13:52:55,NaN,NaN,NaN,NaN,93.0,102.0,NaN,NaN
1,5,74,230001,Blood Pressure,2015-05-11 13:56:47,117.0,89.0,94.0,NaN,NaN,NaN,NaN,NaN
2,5,44,230001,Weight,2015-05-11 13:57:36,NaN,NaN,NaN,168.9,NaN,NaN,NaN,NaN
3,5,178,230001,PulseOx,2015-05-13 14:18:14,NaN,NaN,NaN,NaN,92.0,106.0,NaN,NaN
4,5,143,230001,Blood Pressure,2015-05-13 14:20:08,111.0,61.0,94.0,NaN,NaN,NaN,NaN,NaN

In [77]:
print read_df['ReadingType'].value_counts(dropna=False)

Blood Pressure    15425
PulseOx           15404
Weight            13958
Steps               661
Name: ReadingType, dtype: int64

In [78]:
print read_df['ReadingSuppressedOn'].value_counts(dropna=False)

NaN    45448
Name: ReadingSuppressedOn, dtype: int64

### Pull each measure out, apply date transform, remerge data

In [79]:
pulseox_df = read_df[read_df['ReadingType']=='PulseOx'].reset_index()
pulseox_df.drop(['index','ReadingId','ReadingType','Systolic','Diastolic','HeartRate','Weight','ReadingSuppressedOn','Steps'],axis=1,inplace=True,errors='ignore')

bp_df = read_df[read_df['ReadingType']=='Blood Pressure'].reset_index()
bp_df.drop(['index','ReadingId','ReadingId','ReadingType','SP02','HeartRate_SP02','Weight','ReadingSuppressedOn','Steps'],axis=1,inplace=True,errors='ignore')

w_df = read_df[read_df['ReadingType']=='Weight'].reset_index()
w_df.drop(['index','ReadingId','ReadingType','Systolic','Diastolic','HeartRate','SP02','HeartRate_SP02','ReadingSuppressedOn','Steps'],axis=1,inplace=True,errors='ignore')

step_df = read_df[read_df['ReadingType']=='Steps'].reset_index()
step_df.drop(['index','ReadingId','ReadingType','Systolic','Diastolic','HeartRate','Weight','SP02','HeartRate_SP02','ReadingSuppressedOn'],axis=1,inplace=True,errors='ignore')

In [80]:
print pulseox_df.shape
pulseox_df.head()

(15404, 5)

   EndUserId TIPS ID         ReadingDate  SP02  HeartRate_SP02
0          5  230001 2015-05-11 13:52:55  93.0           102.0
1          5  230001 2015-05-13 14:18:14  92.0           106.0
2          5  230001 2015-05-18 13:53:36  91.0            98.0
3          5  230001 2015-05-20 13:43:05  90.0            88.0
4          5  230001 2015-05-27 13:29:13  94.0            81.0

In [81]:
print bp_df.shape
bp_df.head()

(15425, 6)

   EndUserId TIPS ID         ReadingDate  Systolic  Diastolic  HeartRate
0          5  230001 2015-05-11 13:56:47     117.0       89.0       94.0
1          5  230001 2015-05-13 14:20:08     111.0       61.0       94.0
2          5  230001 2015-05-18 13:55:05     155.0      134.0       91.0
3          5  230001 2015-05-20 13:45:51     108.0       69.0       84.0
4          5  230001 2015-05-27 13:30:28      96.0       70.0       77.0

In [82]:
pulseox_df['SPO2_read_date']=pulseox_df['ReadingDate'].apply(lambda x: x.date())
pulseox_df['SPO2_read_time']=pulseox_df['ReadingDate'].apply(lambda x: x.time())
pulseox_df.drop(['ReadingDate'],axis=1,inplace=True,errors='ignore')

bp_df['BPHR_read_date']=bp_df['ReadingDate'].apply(lambda x: x.date())
bp_df['BPHR_read_time']=bp_df['ReadingDate'].apply(lambda x: x.time())
bp_df.drop(['ReadingDate'],axis=1,inplace=True,errors='ignore')

w_df['W_read_date']=w_df['ReadingDate'].apply(lambda x: x.date())
w_df['W_read_time']=w_df['ReadingDate'].apply(lambda x: x.time())
w_df.drop(['ReadingDate'],axis=1,inplace=True,errors='ignore')

step_df['W_read_date']=step_df['ReadingDate'].apply(lambda x: x.date())
step_df['W_read_time']=step_df['ReadingDate'].apply(lambda x: x.time())
step_df.drop(['ReadingDate'],axis=1,inplace=True,errors='ignore')

In [83]:
merge_df = pd.merge(bp_df,w_df,how='inner',left_on=['EndUserId','TIPS ID','BPHR_read_date'],right_on=['EndUserId','TIPS ID','W_read_date'])
print merge_df.shape
merge_df.head()

(13176, 10)

,EndUserId,TIPS ID,Systolic,Diastolic,HeartRate,BPHR_read_date,BPHR_read_time,Weight,W_read_date,W_read_time
0,5,230001,117.0,89.0,94.0,2015-05-11,13:56:47,168.9,2015-05-11,13:57:36
1,5,230001,155.0,134.0,91.0,2015-05-18,13:55:05,167.8,2015-05-18,13:55:54
2,5,230001,96.0,70.0,77.0,2015-05-27,13:30:28,168.2,2015-05-27,13:31:32
3,5,230001,113.0,93.0,72.0,2015-06-08,13:59:32,169.1,2015-06-08,14:01:18
4,5,230001,144.0,90.0,91.0,2015-06-10,13:53:41,167.5,2015-06-10,13:54:47

In [84]:
merge_df = pd.merge(merge_df,pulseox_df,how='inner',left_on=['EndUserId','TIPS ID','BPHR_read_date'],right_on=['EndUserId','TIPS ID','SPO2_read_date'])
print merge_df.shape
merge_df.head()

(12507, 14)

,EndUserId,TIPS ID,Systolic,Diastolic,HeartRate,BPHR_read_date,BPHR_read_time,Weight,W_read_date,W_read_time,SP02,HeartRate_SP02,SPO2_read_date,SPO2_read_time
0,5,230001,117.0,89.0,94.0,2015-05-11,13:56:47,168.9,2015-05-11,13:57:36,93.0,102.0,2015-05-11,13:52:55
1,5,230001,155.0,134.0,91.0,2015-05-18,13:55:05,167.8,2015-05-18,13:55:54,91.0,98.0,2015-05-18,13:53:36
2,5,230001,96.0,70.0,77.0,2015-05-27,13:30:28,168.2,2015-05-27,13:31:32,94.0,81.0,2015-05-27,13:29:13
3,5,230001,113.0,93.0,72.0,2015-06-08,13:59:32,169.1,2015-06-08,14:01:18,92.0,90.0,2015-06-08,13:54:52
4,5,230001,144.0,90.0,91.0,2015-06-10,13:53:41,167.5,2015-06-10,13:54:47,92.0,95.0,2015-06-10,13:52:10

In [85]:
merge_df.insert(1,'measure_date',merge_df['BPHR_read_date'])
merge_df.drop(['W_read_date','BPHR_read_date','SPO2_read_date'],axis=1,inplace=True)
print merge_df.shape
merge_df.head()

(12507, 12)

,EndUserId,measure_date,TIPS ID,Systolic,Diastolic,HeartRate,BPHR_read_time,Weight,W_read_time,SP02,HeartRate_SP02,SPO2_read_time
0,5,2015-05-11,230001,117.0,89.0,94.0,13:56:47,168.9,13:57:36,93.0,102.0,13:52:55
1,5,2015-05-18,230001,155.0,134.0,91.0,13:55:05,167.8,13:55:54,91.0,98.0,13:53:36
2,5,2015-05-27,230001,96.0,70.0,77.0,13:30:28,168.2,13:31:32,94.0,81.0,13:29:13
3,5,2015-06-08,230001,113.0,93.0,72.0,13:59:32,169.1,14:01:18,92.0,90.0,13:54:52
4,5,2015-06-10,230001,144.0,90.0,91.0,13:53:41,167.5,13:54:47,92.0,95.0,13:52:10

### Calculate compliance, merge with other data based on measures from first visit

In [86]:
miss_week_f = lambda x: x['measure_date'].diff().fillna(0).div(11).apply(lambda y: pd.tslib.Timedelta(y).days).sum()
total_week_f = lambda x: pd.tslib.Timedelta(x['measure_date'].diff().fillna(0).sum()/7).days

missed_weeks = merge_df[['EndUserId','measure_date']].groupby(['EndUserId']).agg(miss_week_f)
total_weeks = merge_df[['EndUserId','measure_date']].groupby(['EndUserId']).agg(total_week_f)
first_measure_date = merge_df.groupby(['EndUserId'])['measure_date'].min()

compliance_df = pd.merge(missed_weeks.reset_index(),total_weeks.reset_index(),how='inner',on='EndUserId')
#merge_df = pd.merge(merge_df,pulse_df,how='inner',left_on=['EndUserId','BPHR_read_date'],right_on=['EndUserId','SPO2_read_date'])
compliance_df = compliance_df.merge(first_measure_date.reset_index(),how='inner',on='EndUserId')
compliance_df.columns=['EndUserId','missed_wks','total_wks','first_measure_date']
compliance_df['compliance']=1-compliance_df['missed_wks']/compliance_df['total_wks']
print compliance_df.shape
compliance_df.head()

(635, 5)

   EndUserId  missed_wks  total_wks first_measure_date  compliance
0          5          13         61         2015-05-11    0.786885
1          6           8         63         2015-05-12    0.873016
2          7           6         13         2015-05-11    0.538462
3          8           1         13         2015-05-18    0.923077
4          9          31         63         2015-05-11    0.507937

In [87]:
initial_measures_df = pd.merge(compliance_df,merge_df,how='left',left_on=['EndUserId','first_measure_date'],right_on=['EndUserId','measure_date'])
initial_measures_df.drop(['BPHR_read_time','W_read_time','measure_date','SPO2_read_time'],axis=1,inplace=True)
print initial_measures_df.shape
initial_measures_df.head()

(641, 12)

,EndUserId,missed_wks,total_wks,first_measure_date,compliance,TIPS ID,Systolic,Diastolic,HeartRate,Weight,SP02,HeartRate_SP02
0,5,13,61,2015-05-11,0.786885,230001,117.0,89.0,94.0,168.9,93.0,102.0
1,6,8,63,2015-05-12,0.873016,230002,106.0,65.0,75.0,141.3,96.0,82.0
2,7,6,13,2015-05-11,0.538462,230003,108.0,75.0,77.0,191.1,96.0,57.0
3,8,1,13,2015-05-18,0.923077,230004,117.0,64.0,68.0,321.7,95.0,77.0
4,9,31,63,2015-05-11,0.507937,230005,128.0,89.0,95.0,356.9,95.0,75.0

## Merge demo and initial_measures

In [88]:
data_df = demo_df.merge(initial_measures_df,left_on='pin',right_on='TIPS ID')
data_df['age']=pd.to_datetime(data_df['first_measure_date'])-pd.to_datetime(data_df['d.o.b.'])
data_df.drop(['TIPS ID'],axis=1,inplace=True)
print data_df.shape
data_df.head()

(629, 43)

,pin,d.o.b.,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,status_active,gender_F,gender_M,lang_English,lang_Other,lang_Spanish,caregiver,live_alone,EndUserId,missed_wks,total_wks,first_measure_date,compliance,Systolic,Diastolic,HeartRate,Weight,SP02,HeartRate_SP02,age
0,10001,1940-12-22,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,183,12,53,2015-07-13,0.773585,147.0,68.0,55.0,269.2,97.0,57.0,27231 days
1,10002,1933-04-24,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,185,24,50,2015-08-10,0.520000,135.0,74.0,69.0,195.8,96.0,62.0,30058 days
2,10004,1948-12-15,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,NaN,NaN,188,1,2,2015-12-21,0.500000,110.0,75.0,72.0,252.0,97.0,71.0,24477 days
3,10006,1948-11-28,0.0,0.0,NaN,NaN,0.0,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,193,24,51,2015-07-20,0.529412,122.0,78.0,61.0,250.7,97.0,60.0,24340 days
4,10009,1927-10-06,0.0,0.0,NaN,NaN,0.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,196,9,53,2015-07-13,0.830189,144.0,86.0,72.0,152.1,93.0,71.0,32057 days

In [89]:
data_df.rename(columns=lambda x: x.lower().replace(" ","_").replace("0","o"),inplace=True)
data_df.to_csv('../data/initial_measures_compliance_demo.csv',index=False)

In [90]:
print data_df.shape
data_df.columns

(629, 43)

Index([                    u'pin',                  u'd.o.b.',
                      u'medicaid',            u'hospitalized',
              u'rpm_hospitalized',               u'rpm_falls',
                u'rehospitalized',      u'rpm_rehospitalized',
                           u'chf',                    u'copd',
                      u'diabetes',            u'hypertension',
                        u'stroke',            u'hypoglycemia',
                         u'falls',           u'liver_disease',
                   u'hypotension',                 u'obesity',
       u'coronary_artery_disease',               u'fractures',
                         u'renal',              u'alzheimers',
                    u'depression',           u'status_active',
                      u'gender_f',                u'gender_m',
                  u'lang_english',              u'lang_other',
                  u'lang_spanish',               u'caregiver',
                    u'live_alone',               u'enduserid',
                    u'missed_wks',               u'total_wks',
            u'first_measure_date',              u'compliance',
                      u'systolic',               u'diastolic',
                     u'heartrate',                  u'weight',
                          u'spo2',          u'heartrate_spo2',
                           u'age'],
      dtype='object')

## Messages

In [91]:
mess_df = pd.read_excel("../data/messages 8-15-16.xlsx")
print mess_df.shape
mess_df.head()

(97684, 8)

,EndUserId,RespondedOn,Question,Response,ID,Date,Month,UniqueVisit
0,40,2015-05-20 13:22:42,How are you feeling today?,Very well,NaN,NaN,NaN,NaN
1,40,2015-05-20 13:22:45,Have you changed medications since your last s...,Skip,NaN,NaN,NaN,NaN
2,40,2015-05-20 13:22:45,Have you fallen since the last screening visit...,Skip,NaN,NaN,NaN,NaN
3,40,2015-05-20 13:22:46,Have you been hospitalized or had an ER visit ...,Skip,NaN,NaN,NaN,NaN
4,40,2015-05-20 13:22:47,Have you changed dosage since your last screen...,Skip,NaN,NaN,NaN,NaN

In [92]:
mess_df['date']=pd.to_datetime(mess_df['RespondedOn']).apply(lambda x: x.date())
print mess_df.shape
mess_df.head()

(97684, 9)

,EndUserId,RespondedOn,Question,Response,ID,Date,Month,UniqueVisit,date
0,40,2015-05-20 13:22:42,How are you feeling today?,Very well,NaN,NaN,NaN,NaN,2015-05-20
1,40,2015-05-20 13:22:45,Have you changed medications since your last s...,Skip,NaN,NaN,NaN,NaN,2015-05-20
2,40,2015-05-20 13:22:45,Have you fallen since the last screening visit...,Skip,NaN,NaN,NaN,NaN,2015-05-20
3,40,2015-05-20 13:22:46,Have you been hospitalized or had an ER visit ...,Skip,NaN,NaN,NaN,NaN,2015-05-20
4,40,2015-05-20 13:22:47,Have you changed dosage since your last screen...,Skip,NaN,NaN,NaN,NaN,2015-05-20

In [93]:
mess_df['uniqueID']=mess_df['EndUserId'].apply(lambda x: str(x)+' ') + mess_df['date'].apply(lambda x: str(x))
print mess_df.shape
mess_df.head(10)

(97684, 10)

,EndUserId,RespondedOn,Question,Response,ID,Date,Month,UniqueVisit,date,uniqueID
0,40,2015-05-20 13:22:42,How are you feeling today?,Very well,NaN,NaN,NaN,NaN,2015-05-20,40 2015-05-20
1,40,2015-05-20 13:22:45,Have you changed medications since your last s...,Skip,NaN,NaN,NaN,NaN,2015-05-20,40 2015-05-20
2,40,2015-05-20 13:22:45,Have you fallen since the last screening visit...,Skip,NaN,NaN,NaN,NaN,2015-05-20,40 2015-05-20
3,40,2015-05-20 13:22:46,Have you been hospitalized or had an ER visit ...,Skip,NaN,NaN,NaN,NaN,2015-05-20,40 2015-05-20
4,40,2015-05-20 13:22:47,Have you changed dosage since your last screen...,Skip,NaN,NaN,NaN,NaN,2015-05-20,40 2015-05-20
5,115,2015-05-20 13:25:55,How are you feeling today?,Feeling Ok,NaN,NaN,NaN,NaN,2015-05-20,115 2015-05-20
6,115,2015-05-20 13:26:03,Have you changed medications since your last s...,No,NaN,NaN,NaN,NaN,2015-05-20,115 2015-05-20
7,115,2015-05-20 13:26:06,Have you fallen since the last screening visit...,No,NaN,NaN,NaN,NaN,2015-05-20,115 2015-05-20
8,115,2015-05-20 13:26:10,Have you been hospitalized or had an ER visit ...,No,NaN,NaN,NaN,NaN,2015-05-20,115 2015-05-20
9,115,2015-05-20 13:26:13,Have you changed dosage since your last screen...,No,NaN,NaN,NaN,NaN,2015-05-20,115 2015-05-20

In [94]:
print mess_df.shape
mess_drp_df = mess_df.drop_duplicates(['uniqueID','Question'])
print mess_drp_df.shape

(97684, 10)
(82521, 10)

In [106]:
p = mess_drp_df.pivot(index='uniqueID',columns='Question',values='Response')
print p.shape
p.head()

(16505, 5)

Question,Have you been hospitalized or had an ER visit since last screening visit?,Have you changed dosage since your last screening visit?,Have you changed medications since your last screening visit?,Have you fallen since the last screening visit?,How are you feeling today?
uniqueID,,,,,
10 2015-05-20,Skip,Skip,Skip,Skip,Very well
10 2015-05-27,Skip,Skip,Skip,Skip,Good
10 2015-06-01,Skip,Skip,Skip,Skip,Good
10 2015-06-03,Skip,Skip,Skip,Skip,Good
10 2015-06-08,No,No,No,No,Good

In [107]:
p.reset_index(inplace=True)
p.head()

Question,uniqueID,Have you been hospitalized or had an ER visit since last screening visit?,Have you changed dosage since your last screening visit?,Have you changed medications since your last screening visit?,Have you fallen since the last screening visit?,How are you feeling today?
0,10 2015-05-20,Skip,Skip,Skip,Skip,Very well
1,10 2015-05-27,Skip,Skip,Skip,Skip,Good
2,10 2015-06-01,Skip,Skip,Skip,Skip,Good
3,10 2015-06-03,Skip,Skip,Skip,Skip,Good
4,10 2015-06-08,No,No,No,No,Good

In [108]:
p['EndUserId']=p['uniqueID'].apply(lambda x: int(x.split()[0]))
p['date']=pd.to_datetime(p['uniqueID'].apply(lambda x: x.split()[1]))
p.head()

Question,uniqueID,Have you been hospitalized or had an ER visit since last screening visit?,Have you changed dosage since your last screening visit?,Have you changed medications since your last screening visit?,Have you fallen since the last screening visit?,How are you feeling today?,EndUserId,date
0,10 2015-05-20,Skip,Skip,Skip,Skip,Very well,10,2015-05-20
1,10 2015-05-27,Skip,Skip,Skip,Skip,Good,10,2015-05-27
2,10 2015-06-01,Skip,Skip,Skip,Skip,Good,10,2015-06-01
3,10 2015-06-03,Skip,Skip,Skip,Skip,Good,10,2015-06-03
4,10 2015-06-08,No,No,No,No,Good,10,2015-06-08

In [109]:
print p.shape

(16505, 8)

In [110]:
p['How are you feeling today?    '].value_counts(dropna=False)

Good                     12269
Feeling Ok                2246
Very well                 1430
Not too well               282
Feeling a little down      234
Terrible                    44
Name: How are you feeling today?    , dtype: int64

In [111]:
print p['How are you feeling today?    '].unique()

[u'Very well' u'Good' u'Feeling Ok' u'Feeling a little down'
 u'Not too well' u'Terrible']

In [112]:
p['Have you been hospitalized or had an ER visit since last screening visit?    '].value_counts(dropna=False)

No      15164
Skip     1077
Yes       263
NaN         1
Name: Have you been hospitalized or had an ER visit since last screening visit?    , dtype: int64

In [113]:
p['Have you changed dosage since your last screening visit?    '].value_counts(dropna=False)

No      15120
Skip     1115
Yes       269
NaN         1
Name: Have you changed dosage since your last screening visit?    , dtype: int64

In [114]:
p['Have you changed medications since your last screening visit?    '].value_counts(dropna=False)

No      14878
Skip     1113
Yes       513
NaN         1
Name: Have you changed medications since your last screening visit?    , dtype: int64

In [115]:
p['Have you fallen since the last screening visit?    '].value_counts(dropna=False)

No      15278
Skip     1075
Yes       151
NaN         1
Name: Have you fallen since the last screening visit?    , dtype: int64

In [116]:
p['feeling_trigger']=p['How are you feeling today?    '].replace(['Good','Feeling Ok','Very well','Feeling a little down',
                                            'Not too well','Terrible'],[0,0,0,0,1,1])
p['hosp_ER_trigger']=p['Have you been hospitalized or had an ER visit since last screening visit?    '].replace([np.nan,'No','Skip','Yes'],
                                                                                                                [0,0,0,1])
p['dosage_trigger']=p['Have you changed dosage since your last screening visit?    '].replace([np.nan,'No','Skip','Yes'],
                                                                                              [0,0,0,1])
p['med_trigger']=p['Have you changed medications since your last screening visit?    '].replace([np.nan,'No','Skip','Yes'],
                                                                                                [0,0,0,1])
p['fall_trigger']=p['Have you fallen since the last screening visit?    '].replace([np.nan,'No','Skip','Yes'],
                                                                                   [0,0,0,1])
print p.shape
p.head()

(16505, 13)

Question,uniqueID,Have you been hospitalized or had an ER visit since last screening visit?,Have you changed dosage since your last screening visit?,Have you changed medications since your last screening visit?,Have you fallen since the last screening visit?,How are you feeling today?,EndUserId,date,feeling_trigger,hosp_ER_trigger,dosage_trigger,med_trigger,fall_trigger
0,10 2015-05-20,Skip,Skip,Skip,Skip,Very well,10,2015-05-20,0,0,0,0,0
1,10 2015-05-27,Skip,Skip,Skip,Skip,Good,10,2015-05-27,0,0,0,0,0
2,10 2015-06-01,Skip,Skip,Skip,Skip,Good,10,2015-06-01,0,0,0,0,0
3,10 2015-06-03,Skip,Skip,Skip,Skip,Good,10,2015-06-03,0,0,0,0,0
4,10 2015-06-08,No,No,No,No,Good,10,2015-06-08,0,0,0,0,0

### Finding coincident triggers for feelings and hospital
search for rows in p where feeling_trigger ==1 and hosp_ER_trigger==1

In [128]:
#function that returns zero when [0] and [1] are 1 or True
def match_trigs(x):
    if x[0] & x[1]:
        return 0
    else:
        return x[0]

# Check the triggers
print 'Number of feeling_triggers: ', p['feeling_trigger'].values.sum()    
print 'Number of coincident triggers: ', p[['feeling_trigger','hosp_ER_trigger']].apply(lambda x: x[0] & x[1] ,axis=1).values.sum()
print 'Number of new feeling_triggers: ', p[['feeling_trigger','hosp_ER_trigger']].apply(match_trigs ,axis=1).values.sum()
print 'Number of hosp_ER_triggers: ', p['hosp_ER_trigger'].values.sum()

# Apply new function to the feeling_triggers feature
p['feeling_trigger'] = p[['feeling_trigger','hosp_ER_trigger']].apply(match_trigs ,axis=1)

Number of feeling_triggers:  326
Number of coincident triggers:  37
Number of new feeling_triggers:  289
Number of hosp_ER_triggers:  263

### Count triggers from messages
Now that we have binarized the trigger events from the responses to questions. Take the sum of those columns for each user id.

In [129]:
trigger_cols = ['feeling_trigger','hosp_ER_trigger','dosage_trigger','med_trigger','fall_trigger']
message_triggers = p.groupby(['EndUserId'])[trigger_cols].sum().reset_index()
message_triggers['all_message_triggers']=message_triggers[trigger_cols].sum(axis=1)
print message_triggers.shape
message_triggers.head()

(735, 7)

Question,EndUserId,feeling_trigger,hosp_ER_trigger,dosage_trigger,med_trigger,fall_trigger,all_message_triggers
0,5,0,1,0,4,0,5
1,6,0,0,1,4,0,5
2,7,0,0,0,0,0,0
3,8,0,0,0,0,0,0
4,9,0,0,0,2,0,2

### Duration in program 
calculate the time in program by taking last date minus the first date.

In [130]:
program_duration = p.groupby(['EndUserId'])['date'].max()-p.groupby(['EndUserId'])['date'].min()
print program_duration.shape
program_duration.head()

(735L,)

EndUserId
5   420 days
6   433 days
7   162 days
8   112 days
9   411 days
Name: date, dtype: timedelta64[ns]

### Number of visits
count number of visits

In [131]:
number_visits = p.groupby(['EndUserId'])['date'].count()
print number_visits.shape
number_visits.head()

(735L,)

EndUserId
5     64
6    105
7      8
8     35
9     21
Name: date, dtype: int64

In [145]:
mess_mrg_df = pd.merge(number_visits.reset_index(),program_duration.reset_index(),how='inner',on='EndUserId')
print mess_mrg_df.shape
mess_mrg_df = mess_mrg_df.merge(message_triggers,how='inner',on='EndUserId')
print mess_mrg_df.shape
mess_mrg_df.columns=['EndUserId','number_visits','duration_in_program','feeling_trigger',
                     'hosp_ER_trigger','dosage_trigger','med_trigger','fall_trigger','all_message_triggers']
mess_mrg_df.head()

(735, 3)
(735, 9)

,EndUserId,number_visits,duration_in_program,feeling_trigger,hosp_ER_trigger,dosage_trigger,med_trigger,fall_trigger,all_message_triggers
0,5,64,420 days,0,1,0,4,0,5
1,6,105,433 days,0,0,1,4,0,5
2,7,8,162 days,0,0,0,0,0,0
3,8,35,112 days,0,0,0,0,0,0
4,9,21,411 days,0,0,0,2,0,2

In [146]:
print data_df.shape
data_df.head()

(629, 43)

,pin,d.o.b.,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,status_active,gender_f,gender_m,lang_english,lang_other,lang_spanish,caregiver,live_alone,enduserid,missed_wks,total_wks,first_measure_date,compliance,systolic,diastolic,heartrate,weight,spo2,heartrate_spo2,age
0,10001,1940-12-22,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,183,12,53,2015-07-13,0.773585,147.0,68.0,55.0,269.2,97.0,57.0,27231 days
1,10002,1933-04-24,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,185,24,50,2015-08-10,0.520000,135.0,74.0,69.0,195.8,96.0,62.0,30058 days
2,10004,1948-12-15,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,NaN,NaN,188,1,2,2015-12-21,0.500000,110.0,75.0,72.0,252.0,97.0,71.0,24477 days
3,10006,1948-11-28,0.0,0.0,NaN,NaN,0.0,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,193,24,51,2015-07-20,0.529412,122.0,78.0,61.0,250.7,97.0,60.0,24340 days
4,10009,1927-10-06,0.0,0.0,NaN,NaN,0.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,196,9,53,2015-07-13,0.830189,144.0,86.0,72.0,152.1,93.0,71.0,32057 days

In [178]:
all_data_df = data_df.merge(mess_mrg_df,left_on='enduserid',right_on='EndUserId')
#all_data_df['age']=pd.to_datetime(data_df['first_measure_date'])-pd.to_datetime(data_df['d.o.b.'])
all_data_df.drop(['EndUserId'],axis=1,inplace=True)
print all_data_df.shape
all_data_df.head()

(617, 51)

,pin,d.o.b.,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,status_active,gender_f,gender_m,lang_english,lang_other,lang_spanish,caregiver,live_alone,enduserid,missed_wks,total_wks,first_measure_date,compliance,systolic,diastolic,heartrate,weight,spo2,heartrate_spo2,age,number_visits,duration_in_program,feeling_trigger,hosp_ER_trigger,dosage_trigger,med_trigger,fall_trigger,all_message_triggers
0,10001,1940-12-22,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,183,12,53,2015-07-13,0.773585,147.0,68.0,55.0,269.2,97.0,57.0,27231 days,38,371 days,3,1,3,6,1,14
1,10002,1933-04-24,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,185,24,50,2015-08-10,0.520000,135.0,74.0,69.0,195.8,96.0,62.0,30058 days,21,353 days,1,0,0,4,2,7
2,10004,1948-12-15,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,NaN,NaN,188,1,2,2015-12-21,0.500000,110.0,75.0,72.0,252.0,97.0,71.0,24477 days,8,172 days,1,0,1,3,0,5
3,10006,1948-11-28,0.0,0.0,NaN,NaN,0.0,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,193,24,51,2015-07-20,0.529412,122.0,78.0,61.0,250.7,97.0,60.0,24340 days,18,357 days,0,0,0,2,0,2
4,10009,1927-10-06,0.0,0.0,NaN,NaN,0.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,196,9,53,2015-07-13,0.830189,144.0,86.0,72.0,152.1,93.0,71.0,32057 days,49,371 days,1,0,0,2,0,3

In [179]:
all_data_df.rename(columns=lambda x: x.lower().replace(" ","_").replace("0","o"),inplace=True)

In [180]:
chronic_conds = [u'chf', u'copd',
       u'diabetes', u'hypertension', u'stroke', u'hypoglycemia', u'falls',
       u'liver_disease', u'hypotension', u'obesity',
       u'coronary_artery_disease', u'fractures', u'renal', u'alzheimers',
       u'depression']
all_data_df['n_conds']=all_data_df[chronic_conds].apply(lambda x: x.sum(),axis=1)

In [181]:
for col in [u'rpm_hospitalized',u'rpm_falls']:
    all_data_df[col]=all_data_df[col].replace([0,1,np.nan],[0,1,0])

In [182]:
all_data_df.head()

,pin,d.o.b.,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,status_active,gender_f,gender_m,lang_english,lang_other,lang_spanish,caregiver,live_alone,enduserid,missed_wks,total_wks,first_measure_date,compliance,systolic,diastolic,heartrate,weight,spo2,heartrate_spo2,age,number_visits,duration_in_program,feeling_trigger,hosp_er_trigger,dosage_trigger,med_trigger,fall_trigger,all_message_triggers,n_conds
0,10001,1940-12-22,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,183,12,53,2015-07-13,0.773585,147.0,68.0,55.0,269.2,97.0,57.0,27231 days,38,371 days,3,1,3,6,1,14,3
1,10002,1933-04-24,0.0,0.0,0.0,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,185,24,50,2015-08-10,0.520000,135.0,74.0,69.0,195.8,96.0,62.0,30058 days,21,353 days,1,0,0,4,2,7,4
2,10004,1948-12-15,0.0,NaN,0.0,0.0,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,NaN,NaN,188,1,2,2015-12-21,0.500000,110.0,75.0,72.0,252.0,97.0,71.0,24477 days,8,172 days,1,0,1,3,0,5,2
3,10006,1948-11-28,0.0,0.0,0.0,0.0,0.0,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,193,24,51,2015-07-20,0.529412,122.0,78.0,61.0,250.7,97.0,60.0,24340 days,18,357 days,0,0,0,2,0,2,2
4,10009,1927-10-06,0.0,0.0,0.0,0.0,0.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,196,9,53,2015-07-13,0.830189,144.0,86.0,72.0,152.1,93.0,71.0,32057 days,49,371 days,1,0,0,2,0,3,1

## site feature

In [183]:
def recode_site(val):
    if len(str(val))==5:
        return int(str(val)[0])
    elif len(str(val))==6:
        return int(str(val)[:2])
    else:
        print 'unknown'

#all_data_df['site']=all_data_df['pin'].apply(lambda x: int(str(x)[:2]))
all_data_df['site']=all_data_df['pin'].apply(lambda x: recode_site(x))
all_data_df.head()

,pin,d.o.b.,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,status_active,gender_f,gender_m,lang_english,lang_other,lang_spanish,caregiver,live_alone,enduserid,missed_wks,total_wks,first_measure_date,compliance,systolic,diastolic,heartrate,weight,spo2,heartrate_spo2,age,number_visits,duration_in_program,feeling_trigger,hosp_er_trigger,dosage_trigger,med_trigger,fall_trigger,all_message_triggers,n_conds,site
0,10001,1940-12-22,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,183,12,53,2015-07-13,0.773585,147.0,68.0,55.0,269.2,97.0,57.0,27231 days,38,371 days,3,1,3,6,1,14,3,1
1,10002,1933-04-24,0.0,0.0,0.0,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,185,24,50,2015-08-10,0.520000,135.0,74.0,69.0,195.8,96.0,62.0,30058 days,21,353 days,1,0,0,4,2,7,4,1
2,10004,1948-12-15,0.0,NaN,0.0,0.0,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,NaN,NaN,188,1,2,2015-12-21,0.500000,110.0,75.0,72.0,252.0,97.0,71.0,24477 days,8,172 days,1,0,1,3,0,5,2,1
3,10006,1948-11-28,0.0,0.0,0.0,0.0,0.0,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,193,24,51,2015-07-20,0.529412,122.0,78.0,61.0,250.7,97.0,60.0,24340 days,18,357 days,0,0,0,2,0,2,2,1
4,10009,1927-10-06,0.0,0.0,0.0,0.0,0.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,196,9,53,2015-07-13,0.830189,144.0,86.0,72.0,152.1,93.0,71.0,32057 days,49,371 days,1,0,0,2,0,3,1,1

In [184]:
print all_data_df['site'].dtypes
print all_data_df['site'].unique()
print all_data_df['site'].value_counts()

int64
[ 1  2  3  4  5  6  7 20 21 22 23 24 25 30 31]
3     101
6      85
7      54
20     51
23     48
31     44
5      40
1      39
22     37
2      33
4      28
30     20
24     16
21     14
25      7
Name: site, dtype: int64

In [185]:
dummy_sites = pd.get_dummies(all_data_df['site'], prefix='site')
print dummy_sites.head()

   site_1  site_2  site_3  site_4  site_5  site_6  site_7  site_20  site_21  \
0     1.0     0.0     0.0     0.0     0.0     0.0     0.0      0.0      0.0
1     1.0     0.0     0.0     0.0     0.0     0.0     0.0      0.0      0.0
2     1.0     0.0     0.0     0.0     0.0     0.0     0.0      0.0      0.0
3     1.0     0.0     0.0     0.0     0.0     0.0     0.0      0.0      0.0
4     1.0     0.0     0.0     0.0     0.0     0.0     0.0      0.0      0.0

   site_22  site_23  site_24  site_25  site_30  site_31
0      0.0      0.0      0.0      0.0      0.0      0.0
1      0.0      0.0      0.0      0.0      0.0      0.0
2      0.0      0.0      0.0      0.0      0.0      0.0
3      0.0      0.0      0.0      0.0      0.0      0.0
4      0.0      0.0      0.0      0.0      0.0      0.0

In [186]:
  # create a clean data frame for the regression
all_data_df = all_data_df.join(dummy_sites.ix[:, 'site_2':])
#all_data_df.drop(['site'],axis=1,inplace=True)
all_data_df.head()

,pin,d.o.b.,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,status_active,gender_f,gender_m,lang_english,lang_other,lang_spanish,caregiver,live_alone,enduserid,missed_wks,total_wks,first_measure_date,compliance,systolic,diastolic,heartrate,weight,spo2,heartrate_spo2,age,number_visits,duration_in_program,feeling_trigger,hosp_er_trigger,dosage_trigger,med_trigger,fall_trigger,all_message_triggers,n_conds,site,site_2,site_3,site_4,site_5,site_6,site_7,site_20,site_21,site_22,site_23,site_24,site_25,site_30,site_31
0,10001,1940-12-22,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,183,12,53,2015-07-13,0.773585,147.0,68.0,55.0,269.2,97.0,57.0,27231 days,38,371 days,3,1,3,6,1,14,3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10002,1933-04-24,0.0,0.0,0.0,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,185,24,50,2015-08-10,0.520000,135.0,74.0,69.0,195.8,96.0,62.0,30058 days,21,353 days,1,0,0,4,2,7,4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10004,1948-12-15,0.0,NaN,0.0,0.0,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,NaN,NaN,188,1,2,2015-12-21,0.500000,110.0,75.0,72.0,252.0,97.0,71.0,24477 days,8,172 days,1,0,1,3,0,5,2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10006,1948-11-28,0.0,0.0,0.0,0.0,0.0,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,193,24,51,2015-07-20,0.529412,122.0,78.0,61.0,250.7,97.0,60.0,24340 days,18,357 days,0,0,0,2,0,2,2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10009,1927-10-06,0.0,0.0,0.0,0.0,0.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,196,9,53,2015-07-13,0.830189,144.0,86.0,72.0,152.1,93.0,71.0,32057 days,49,371 days,1,0,0,2,0,3,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [187]:
all_data_df.to_csv('../data/all_tips_data.csv',index=False)

In [188]:
all_data_df['rpm_hospitalized'].value_counts()

0.0    522
1.0     95
Name: rpm_hospitalized, dtype: int64

In [108]:
p_grouped = p.groupby(['EndUserId'])

In [137]:
p.groupby(['EndUserId'])['date'].diff().mode()[0]

Timedelta('7 days 00:00:00')

In [135]:
#p_grouped.get_group(5)['date'].diff().mode()[0].apply(lambda y: pd.tslib.Timedelta(y).days)
def freq_f(grp_df):
    print grp_df.shape
    grp_mode = pd.tslib.Timedelta(grp_df['date'].diff().mode()[0]).days
    if grp_mode == 0:
        return np.nan
    if grp_mode < 7:
        return 1
    if grp_mode >= 7:
        return 0
freqs = p.groupby(['EndUserId'])['date'].agg(freq_f)
#pd.tslib.Timedelta(p_grouped.get_group(5)['date'].diff().mode()[0]).days
#freq_f = lambda x: x['date'].diff().mode()[0].apply(lambda y: pd.tslib.Timedelta(y).days)
freqs

(64L,)
(64L,)

KeyError: 'date'

In [ ]:
miss_week_f = lambda x: x['measure_date'].diff().fillna(0).div(11).apply(lambda y: pd.tslib.Timedelta(y).days).sum()
total_week_f = lambda x: pd.tslib.Timedelta(x['measure_date'].diff().fillna(0).sum()/7).days

missed_weeks = merge_df[['EndUserId','measure_date']].groupby(['EndUserId']).agg(miss_week_f)
total_weeks = merge_df[['EndUserId','measure_date']].groupby(['EndUserId']).agg(total_week_f)
first_measure_date = merge_df.groupby(['EndUserId'])['measure_date'].min()