In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline
pd.set_option('display.max_columns', None)
sns.set()

In [23]:
ls ..\data\

 Volume in drive D is LENOVO
 Volume Serial Number is 300B-EECC

 Directory of D:\GitHub\TIPS\data

08/11/2016  03:12 PM    <DIR>          .
08/11/2016  03:12 PM    <DIR>          ..
08/01/2016  10:44 PM           521,723 BP_HR_Readings.xlsx
08/09/2016  02:15 PM            17,215 compliance.csv
08/01/2016  10:44 PM           118,865 Demographic_Info2.xlsx
08/02/2016  08:41 AM            61,821 Demographic_Info2_btqedit.xlsx
08/01/2016  10:44 PM           127,751 demographics 6-22-16.xlsx
08/04/2016  11:49 AM            77,443 Demographics_pandas_cleaned.csv
08/11/2016  03:18 PM            30,507 initial_measures_compliance.csv
08/01/2016  10:44 PM         3,161,091 messages 6-22-16.xlsx
08/01/2016  10:44 PM         2,481,099 Messages_reworked.xlsx
08/03/2016  10:47 AM            54,267 Pre-TIPS_Hospitalization_record.xlsx
08/01/2016  10:45 PM         8,299,479 readings 6-22-16.xlsx
08/01/2016  10:45 PM           442,142 SpO2_HR_Readings.xlsx
08/01/2016  10:45 PM           361,993 Weight_Readings.xlsx
              13 File(s)     15,755,396 bytes
               2 Dir(s)  865,797,758,976 bytes free

In [24]:
demoalt_df = pd.read_excel("../data/Demographic_Info2_btqedit.xlsx")
#Remove 'PIN' column
#df.drop(['PIN'],axis=1,inplace=True)
demo_df = pd.read_excel("../data/demographics 6-22-16.xlsx")
print demo_df.shape
demo_df.head()

(780, 28)

,PIN,Status,Gender,D.O.B.,Age,Language,Living Set-Up,Medicaid,Hospitalized,RPM Hospitalized,RPM Falls,Rehospitalized,RPM Rehospitalized,CHF,COPD,Diabetes,Hypertension,Stroke,Hypoglycemia,Falls,Liver Disease,Hypotension,Obesity,Coronary Artery Disease,Fractures,Renal,Alzheimer's,Depression
0,10001,A,F,12-22-1940,75.550685,English,Family No CG,N,Y,Y,Y,N,N,NaN,NaN,NaN,X,NaN,X,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN
1,10002,A,F,04-24-1933,83.219178,English,Alone No CG,N,N,NaN,Y,N,NaN,NaN,X,X,X,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN
2,10003,D,F,08-18-1920,95.909589,English,Family No CG,Y,N,NaN,NaN,N,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004,A,F,12-15-1948,67.564384,English,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10005,D,F,02-18-1934,82.397260,English,NaN,N,N,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### TIPS ID and PIN
Merge demo_df with demoalt_df columns that have the mapping from TIPSID to PIN

In [25]:
#drop excess columns
demoalt_df.drop(demoalt_df.columns[2:],axis=1,inplace=True)
print demoalt_df.shape
demoalt_df.head()

(765, 2)

   TIPS_Number    PIN
0          183  10001
1          185  10002
2          187  10003
3          188  10004
4          189  10005

In [26]:
print demo_df.columns
print demoalt_df.columns

Index([u'PIN', u'Status', u'Gender', u'D.O.B.', u'Age', u'Language',
       u'Living Set-Up', u'Medicaid', u'Hospitalized', u'RPM Hospitalized',
       u'RPM Falls', u'Rehospitalized', u'RPM Rehospitalized', u'CHF', u'COPD',
       u'Diabetes', u'Hypertension', u'Stroke', u'Hypoglycemia', u'Falls',
       u'Liver Disease', u'Hypotension', u'Obesity',
       u'Coronary Artery Disease', u'Fractures', u'Renal', u'Alzheimer's',
       u'Depression'],
      dtype='object')
Index([u'TIPS_Number', u'PIN'], dtype='object')

In [27]:
#merge data frames on PIN
demo_df= demo_df.merge(demoalt_df,how='left',left_on=['PIN'],right_on=['PIN'])
print demo_df.shape
demo_df.head()

(782, 29)

,PIN,Status,Gender,D.O.B.,Age,Language,Living Set-Up,Medicaid,Hospitalized,RPM Hospitalized,RPM Falls,Rehospitalized,RPM Rehospitalized,CHF,COPD,Diabetes,Hypertension,Stroke,Hypoglycemia,Falls,Liver Disease,Hypotension,Obesity,Coronary Artery Disease,Fractures,Renal,Alzheimer's,Depression,TIPS_Number
0,10001,A,F,12-22-1940,75.550685,English,Family No CG,N,Y,Y,Y,N,N,NaN,NaN,NaN,X,NaN,X,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,183.0
1,10002,A,F,04-24-1933,83.219178,English,Alone No CG,N,N,NaN,Y,N,NaN,NaN,X,X,X,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,185.0
2,10003,D,F,08-18-1920,95.909589,English,Family No CG,Y,N,NaN,NaN,N,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.0
3,10004,A,F,12-15-1948,67.564384,English,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.0
4,10005,D,F,02-18-1934,82.397260,English,NaN,N,N,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,189.0

Reformat column names to be lower case and have no spaces or apostrophes

In [28]:
demo_df.rename(columns=lambda x: x.lower().replace(" ","_"),inplace=True)
demo_df.rename(columns={"alzheimer's":'alzheimers'},inplace=True)
demo_df.head()

,pin,status,gender,d.o.b.,age,language,living_set-up,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,tips_number
0,10001,A,F,12-22-1940,75.550685,English,Family No CG,N,Y,Y,Y,N,N,NaN,NaN,NaN,X,NaN,X,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,183.0
1,10002,A,F,04-24-1933,83.219178,English,Alone No CG,N,N,NaN,Y,N,NaN,NaN,X,X,X,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,185.0
2,10003,D,F,08-18-1920,95.909589,English,Family No CG,Y,N,NaN,NaN,N,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.0
3,10004,A,F,12-15-1948,67.564384,English,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.0
4,10005,D,F,02-18-1934,82.397260,English,NaN,N,N,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,189.0

### Hospitalizations and Conditions
clean and binarize/dummify these columns

In [29]:
print demo_df.columns

Index([                    u'pin',                  u'status',
                        u'gender',                  u'd.o.b.',
                           u'age',                u'language',
                 u'living_set-up',                u'medicaid',
                  u'hospitalized',        u'rpm_hospitalized',
                     u'rpm_falls',          u'rehospitalized',
            u'rpm_rehospitalized',                     u'chf',
                          u'copd',                u'diabetes',
                  u'hypertension',                  u'stroke',
                  u'hypoglycemia',                   u'falls',
                 u'liver_disease',             u'hypotension',
                       u'obesity', u'coronary_artery_disease',
                     u'fractures',                   u'renal',
                    u'alzheimers',              u'depression',
                   u'tips_number'],
      dtype='object')

recode the conditions columns from NAN,X to 0,1

In [30]:
for col in [u'chf', u'copd', u'diabetes',u'hypertension', u'stroke',u'hypoglycemia', u'falls',
            u'liver_disease', u'hypotension',u'obesity', u'coronary_artery_disease',u'fractures',
            u'renal',u'alzheimers', u'depression']:
    demo_df[col]= demo_df[col].replace([np.nan, 'X','x'], [0, 1,1])

demo_df.head()

,pin,status,gender,d.o.b.,age,language,living_set-up,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,tips_number
0,10001,A,F,12-22-1940,75.550685,English,Family No CG,N,Y,Y,Y,N,N,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,183.0
1,10002,A,F,04-24-1933,83.219178,English,Alone No CG,N,N,NaN,Y,N,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,185.0
2,10003,D,F,08-18-1920,95.909589,English,Family No CG,Y,N,NaN,NaN,N,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,187.0
3,10004,A,F,12-15-1948,67.564384,English,NaN,N,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,188.0
4,10005,D,F,02-18-1934,82.397260,English,NaN,N,N,NaN,NaN,N,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,189.0

recode the medicaid/hospitalization info from Y,N to 1,0

In [31]:
demo_df['rpm_hospitalized'].value_counts()

Y    99
Name: rpm_hospitalized, dtype: int64

In [10]:
for col in [u'medicaid',u'hospitalized',u'rpm_hospitalized',
            u'rpm_falls',  u'rehospitalized',u'rpm_rehospitalized']:
    demo_df[col]=demo_df[col].replace(['Y','N','Y '],[1,0,1])
demo_df.head()

,pin,status,gender,d.o.b.,age,language,living_set-up,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,tips_number
0,10001,A,F,12-22-1940,75.550685,English,Family No CG,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,183.0
1,10002,A,F,04-24-1933,83.219178,English,Alone No CG,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,185.0
2,10003,D,F,08-18-1920,95.909589,English,Family No CG,1.0,0.0,NaN,NaN,0.0,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,187.0
3,10004,A,F,12-15-1948,67.564384,English,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,188.0
4,10005,D,F,02-18-1934,82.397260,English,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,189.0

### Gender, Language, Status, Living Setup
dummify gender, language, status, and living setup. split living setup to Family/Alone CG/no CG

In [11]:
print demo_df['language'].value_counts()
print demo_df['language'].unique()
print demo_df['gender'].value_counts()

English    613
Spanish    122
Other       19
Female       1
Name: language, dtype: int64
[u'English' u'Spanish' nan u'Other' u'Female']
F    629
M    153
Name: gender, dtype: int64

In [12]:
demo_df['language']=demo_df['language'].replace(['Female'],['Other'])
demo_df['language'].value_counts()

English    613
Spanish    122
Other       20
Name: language, dtype: int64

In [13]:
#dummify gender and language
demo_df = pd.get_dummies(demo_df,columns=['gender','language'], prefix = ['gender','lang'])
demo_df.head(10)

,pin,status,d.o.b.,age,living_set-up,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,tips_number,gender_F,gender_M,lang_English,lang_Other,lang_Spanish
0,10001,A,12-22-1940,75.550685,Family No CG,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,183.0,1.0,0.0,1.0,0.0,0.0
1,10002,A,04-24-1933,83.219178,Alone No CG,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,185.0,1.0,0.0,1.0,0.0,0.0
2,10003,D,08-18-1920,95.909589,Family No CG,1.0,0.0,NaN,NaN,0.0,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,187.0,1.0,0.0,1.0,0.0,0.0
3,10004,A,12-15-1948,67.564384,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,188.0,1.0,0.0,1.0,0.0,0.0
4,10005,D,02-18-1934,82.397260,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,189.0,1.0,0.0,1.0,0.0,0.0
5,10006,A,11-28-1948,67.610959,Family No CG,0.0,0.0,NaN,NaN,0.0,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,193.0,0.0,1.0,1.0,0.0,0.0
6,10007,D,01-21-1927,89.479452,Family No CG,0.0,1.0,NaN,NaN,0.0,NaN,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,194.0,1.0,0.0,1.0,0.0,0.0
7,10008,D,12-28-1925,90.545205,Family No CG,0.0,1.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,195.0,0.0,1.0,1.0,0.0,0.0
8,10009,A,10-06-1927,88.772603,Alone No CG,0.0,0.0,NaN,NaN,0.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,196.0,1.0,0.0,1.0,0.0,0.0
9,10010,A,07-12-1945,70.994521,Alone No CG,1.0,0.0,1.0,NaN,0.0,0.0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,201.0,0.0,1.0,1.0,0.0,0.0

In [14]:
demo_df['status_active']=demo_df['status'].replace(['A','D'],[1,0])
demo_df.head()

,pin,status,d.o.b.,age,living_set-up,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,tips_number,gender_F,gender_M,lang_English,lang_Other,lang_Spanish,status_active
0,10001,A,12-22-1940,75.550685,Family No CG,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,183.0,1.0,0.0,1.0,0.0,0.0,1
1,10002,A,04-24-1933,83.219178,Alone No CG,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,185.0,1.0,0.0,1.0,0.0,0.0,1
2,10003,D,08-18-1920,95.909589,Family No CG,1.0,0.0,NaN,NaN,0.0,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,187.0,1.0,0.0,1.0,0.0,0.0,0
3,10004,A,12-15-1948,67.564384,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,188.0,1.0,0.0,1.0,0.0,0.0,1
4,10005,D,02-18-1934,82.397260,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,189.0,1.0,0.0,1.0,0.0,0.0,0

In [15]:
demo_df['living_set-up'].value_counts()

Alone No CG      499
Family No CG     197
Alone CG          19
Family CG         11
Alone no CG        8
Family no CG       3
Alone with CG      1
Name: living_set-up, dtype: int64

In [16]:
demo_df['living_set-up']=demo_df['living_set-up'].replace(['Alone no CG','Family no CG','Alone with CG'],
                                                          ['Alone No CG','Family No CG','Alone CG'])
demo_df['living_set-up'].value_counts()

Alone No CG     507
Family No CG    200
Alone CG         20
Family CG        11
Name: living_set-up, dtype: int64

In [17]:
#demo_df['live_alone']=demo_df['living_set-up'].apply(lambda x: str(x).lower().split()[0])
#demo_df['live_alone']=demo_df['live_alone'].replace(['family','alone','nan'],[0,1,np.nan])
#demo_df['caregiver']=demo_df['living_set-up'].apply(lambda x: str(x).lower().split()[1])
demo_df['caregiver']=demo_df['living_set-up'].replace(['Alone No CG','Family No CG','Alone CG','Family CG'],[0,0,1,1])
demo_df['live_alone']=demo_df['living_set-up'].replace(['Alone No CG','Family No CG','Alone CG','Family CG'],[1,0,1,0])
#def recode_caregiver(val):
#   if np.isnan(val):
#       return np.nan
#    elif str(val).find('No CG'):
#        return False
#    else
#        return True
demo_df.head(10)

,pin,status,d.o.b.,age,living_set-up,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,tips_number,gender_F,gender_M,lang_English,lang_Other,lang_Spanish,status_active,caregiver,live_alone
0,10001,A,12-22-1940,75.550685,Family No CG,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,183.0,1.0,0.0,1.0,0.0,0.0,1,0.0,0.0
1,10002,A,04-24-1933,83.219178,Alone No CG,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,185.0,1.0,0.0,1.0,0.0,0.0,1,0.0,1.0
2,10003,D,08-18-1920,95.909589,Family No CG,1.0,0.0,NaN,NaN,0.0,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,187.0,1.0,0.0,1.0,0.0,0.0,0,0.0,0.0
3,10004,A,12-15-1948,67.564384,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,188.0,1.0,0.0,1.0,0.0,0.0,1,NaN,NaN
4,10005,D,02-18-1934,82.397260,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,189.0,1.0,0.0,1.0,0.0,0.0,0,NaN,NaN
5,10006,A,11-28-1948,67.610959,Family No CG,0.0,0.0,NaN,NaN,0.0,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,193.0,0.0,1.0,1.0,0.0,0.0,1,0.0,0.0
6,10007,D,01-21-1927,89.479452,Family No CG,0.0,1.0,NaN,NaN,0.0,NaN,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,194.0,1.0,0.0,1.0,0.0,0.0,0,0.0,0.0
7,10008,D,12-28-1925,90.545205,Family No CG,0.0,1.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,195.0,0.0,1.0,1.0,0.0,0.0,0,0.0,0.0
8,10009,A,10-06-1927,88.772603,Alone No CG,0.0,0.0,NaN,NaN,0.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,196.0,1.0,0.0,1.0,0.0,0.0,1,0.0,1.0
9,10010,A,07-12-1945,70.994521,Alone No CG,1.0,0.0,1.0,NaN,0.0,0.0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,201.0,0.0,1.0,1.0,0.0,0.0,1,0.0,1.0

### Date of Birth
convert to datetime format

In [18]:
demo_df['d.o.b.']=pd.to_datetime(demo_df['d.o.b.'])
demo_df.head()

,pin,status,d.o.b.,age,living_set-up,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,tips_number,gender_F,gender_M,lang_English,lang_Other,lang_Spanish,status_active,caregiver,live_alone
0,10001,A,1940-12-22,75.550685,Family No CG,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,183.0,1.0,0.0,1.0,0.0,0.0,1,0.0,0.0
1,10002,A,1933-04-24,83.219178,Alone No CG,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,185.0,1.0,0.0,1.0,0.0,0.0,1,0.0,1.0
2,10003,D,1920-08-18,95.909589,Family No CG,1.0,0.0,NaN,NaN,0.0,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,187.0,1.0,0.0,1.0,0.0,0.0,0,0.0,0.0
3,10004,A,1948-12-15,67.564384,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,188.0,1.0,0.0,1.0,0.0,0.0,1,NaN,NaN
4,10005,D,1934-02-18,82.397260,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,189.0,1.0,0.0,1.0,0.0,0.0,0,NaN,NaN

In [19]:
demo_df.drop(['living_set-up','status','age'],axis=1,inplace=True)

In [20]:
demo_df.to_csv('../data/Demographics_pandas_cleaned.csv',index=False)
print demo_df.shape
demo_df.head()

(782, 32)

,pin,d.o.b.,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,tips_number,gender_F,gender_M,lang_English,lang_Other,lang_Spanish,status_active,caregiver,live_alone
0,10001,1940-12-22,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,183.0,1.0,0.0,1.0,0.0,0.0,1,0.0,0.0
1,10002,1933-04-24,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,185.0,1.0,0.0,1.0,0.0,0.0,1,0.0,1.0
2,10003,1920-08-18,1.0,0.0,NaN,NaN,0.0,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,187.0,1.0,0.0,1.0,0.0,0.0,0,0.0,0.0
3,10004,1948-12-15,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,188.0,1.0,0.0,1.0,0.0,0.0,1,NaN,NaN
4,10005,1934-02-18,0.0,0.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,189.0,1.0,0.0,1.0,0.0,0.0,0,NaN,NaN

In [21]:
demo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 781
Data columns (total 32 columns):
pin                        782 non-null int64
d.o.b.                     753 non-null datetime64[ns]
medicaid                   668 non-null float64
hospitalized               748 non-null float64
rpm_hospitalized           99 non-null float64
rpm_falls                  57 non-null float64
rehospitalized             744 non-null float64
rpm_rehospitalized         99 non-null float64
chf                        782 non-null int64
copd                       782 non-null int64
diabetes                   782 non-null int64
hypertension               782 non-null int64
stroke                     782 non-null int64
hypoglycemia               782 non-null int64
falls                      782 non-null int64
liver_disease              782 non-null int64
hypotension                782 non-null int64
obesity                    782 non-null int64
coronary_artery_disease    782 non-null int64
fractures                  782 non-null int64
renal                      782 non-null int64
alzheimers                 782 non-null int64
depression                 782 non-null int64
tips_number                767 non-null float64
gender_F                   782 non-null float64
gender_M                   782 non-null float64
lang_English               782 non-null float64
lang_Other                 782 non-null float64
lang_Spanish               782 non-null float64
status_active              782 non-null int64
caregiver                  738 non-null float64
live_alone                 738 non-null float64
dtypes: datetime64[ns](1), float64(14), int64(17)
memory usage: 201.6 KB