In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [19]:
ls ..\data\

 Volume in drive D is LENOVO
 Volume Serial Number is 300B-EECC

 Directory of D:\Downloads\TIPS\data

08/02/2016  08:41 AM    <DIR>          .
08/02/2016  08:41 AM    <DIR>          ..
08/01/2016  10:44 PM           521,723 BP_HR_Readings.xlsx
08/01/2016  10:44 PM           118,865 Demographic_Info2.xlsx
08/02/2016  08:41 AM            61,821 Demographic_Info2_btqedit.xlsx
08/01/2016  10:44 PM           127,751 demographics 6-22-16.xlsx
08/01/2016  10:44 PM         3,161,091 messages 6-22-16.xlsx
08/01/2016  10:44 PM         2,481,099 Messages_reworked.xlsx
08/01/2016  10:44 PM           104,767 Pre-TIPS_Hospitalization_record.xlsx
08/01/2016  10:45 PM         8,299,479 readings 6-22-16.xlsx
08/01/2016  10:45 PM           442,142 SpO2_HR_Readings.xlsx
08/01/2016  10:45 PM           361,993 Weight_Readings.xlsx
              10 File(s)     15,680,731 bytes
               2 Dir(s)  876,078,383,104 bytes free

In [30]:
df = pd.read_excel("../data/Demographic_Info2_btqedit.xlsx",index_col='TIPS_Number')
#Remove 'PIN' column
df.drop(['PIN'],axis=1,inplace=True)
#Sort index
df.sort_index(inplace=True)

In [31]:
df.head()

,Age,Gender,CHF,COPD,Diabetes,Hypertension,Stroke,Hypoglycemia,Falls,Liver Disease,Hypotension,Obesity,Coronary Artery Disease,Fractures,Renal,Alzheimer's,Depression
TIPS_Number,,,,,,,,,,,,,,,,,
5,72.813699,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
6,83.438356,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0
7,87.835616,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
8,77.898630,2,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0
9,65.780822,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 765 entries, 5 to 1003
Data columns (total 17 columns):
Age                        765 non-null float64
Gender                     765 non-null int64
CHF                        765 non-null int64
COPD                       765 non-null int64
Diabetes                   765 non-null int64
Hypertension               765 non-null int64
Stroke                     765 non-null int64
Hypoglycemia               765 non-null int64
Falls                      765 non-null int64
Liver Disease              765 non-null int64
Hypotension                765 non-null int64
Obesity                    765 non-null int64
Coronary Artery Disease    765 non-null int64
Fractures                  765 non-null int64
Renal                      765 non-null int64
Alzheimer's                765 non-null int64
Depression                 765 non-null int64
dtypes: float64(1), int64(16)
memory usage: 107.6 KB

In [33]:
df.describe()

,Age,Gender,CHF,COPD,Diabetes,Hypertension,Stroke,Hypoglycemia,Falls,Liver Disease,Hypotension,Obesity,Coronary Artery Disease,Fractures,Renal,Alzheimer's,Depression
count,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000
mean,69.869138,1.196078,0.035294,0.115033,0.224837,0.512418,0.057516,0.015686,0.039216,0.014379,0.018301,0.086275,0.086275,0.016993,0.018301,0.018301,0.086275
std,20.522688,0.397288,0.184643,0.319270,0.417748,0.500173,0.232979,0.124340,0.194235,0.119125,0.134124,0.280953,0.280953,0.129331,0.134124,0.134124,0.280953
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,63.172603,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,75.230137,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,83.772603,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,100.786301,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
df.columns

Index([u'Age', u'Gender', u'CHF', u'COPD', u'Diabetes', u'Hypertension',
       u'Stroke', u'Hypoglycemia', u'Falls', u'Liver Disease', u'Hypotension',
       u'Obesity', u'Coronary Artery Disease', u'Fractures', u'Renal',
       u'Alzheimer's', u'Depression'],
      dtype='object')

In [36]:
df.rename(columns=lambda x: x.replace(" ","_"),inplace=True)
df.rename(columns=lambda x: x.replace("'",""),inplace=True)
df.head()

,Age,Gender,CHF,COPD,Diabetes,Hypertension,Stroke,Hypoglycemia,Falls,Liver_Disease,Hypotension,Obesity,Coronary_Artery_Disease,Fractures,Renal,Alzheimers,Depression
TIPS_Number,,,,,,,,,,,,,,,,,
5,72.813699,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
6,83.438356,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0
7,87.835616,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
8,77.898630,2,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0
9,65.780822,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0