In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline
pd.set_option('display.max_columns', None)
sns.set()

In [2]:
demo_df=pd.read_csv('../data/Demographics_pandas_cleaned.csv')
print demo_df.shape
demo_df.head()

(782, 32)

,pin,d.o.b.,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,tips_number,gender_F,gender_M,lang_English,lang_Other,lang_Spanish,status_active,caregiver,live_alone
0,10001,1940-12-22,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,183.0,1.0,0.0,1.0,0.0,0.0,1,0.0,0.0
1,10002,1933-04-24,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,185.0,1.0,0.0,1.0,0.0,0.0,1,0.0,1.0
2,10003,1920-08-18,1.0,0.0,NaN,NaN,0.0,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,187.0,1.0,0.0,1.0,0.0,0.0,0,0.0,0.0
3,10004,1948-12-15,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,188.0,1.0,0.0,1.0,0.0,0.0,1,NaN,NaN
4,10005,1934-02-18,0.0,0.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,189.0,1.0,0.0,1.0,0.0,0.0,0,NaN,NaN

In [3]:
tipsid = demo_df.pop('tips_number')
demo_df.insert(0, 'tipsid', tipsid)
demo_df.head()

,tipsid,pin,d.o.b.,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,gender_F,gender_M,lang_English,lang_Other,lang_Spanish,status_active,caregiver,live_alone
0,183.0,10001,1940-12-22,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,1,0.0,0.0
1,185.0,10002,1933-04-24,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,1,0.0,1.0
2,187.0,10003,1920-08-18,1.0,0.0,NaN,NaN,0.0,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,0,0.0,0.0
3,188.0,10004,1948-12-15,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,1,NaN,NaN
4,189.0,10005,1934-02-18,0.0,0.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,0,NaN,NaN

In [4]:
print demo_df.columns

Index([u'tipsid', u'pin', u'd.o.b.', u'medicaid', u'hospitalized',
       u'rpm_hospitalized', u'rpm_falls', u'rehospitalized',
       u'rpm_rehospitalized', u'chf', u'copd', u'diabetes', u'hypertension',
       u'stroke', u'hypoglycemia', u'falls', u'liver_disease', u'hypotension',
       u'obesity', u'coronary_artery_disease', u'fractures', u'renal',
       u'alzheimers', u'depression', u'gender_F', u'gender_M', u'lang_English',
       u'lang_Other', u'lang_Spanish', u'status_active', u'caregiver',
       u'live_alone'],
      dtype='object')

In [5]:
cond_columns = [u'chf', u'copd', u'diabetes', u'hypertension',
       u'stroke', u'hypoglycemia', u'falls', u'liver_disease', u'hypotension',
       u'obesity', u'coronary_artery_disease', u'fractures', u'renal',
       u'alzheimers', u'depression']
hosp_columns = [u'hospitalized',
       u'rpm_hospitalized', u'rpm_falls', u'rehospitalized',
       u'rpm_rehospitalized']

In [6]:
demo_df.head()

,tipsid,pin,d.o.b.,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,gender_F,gender_M,lang_English,lang_Other,lang_Spanish,status_active,caregiver,live_alone
0,183.0,10001,1940-12-22,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,1,0.0,0.0
1,185.0,10002,1933-04-24,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,1,0.0,1.0
2,187.0,10003,1920-08-18,1.0,0.0,NaN,NaN,0.0,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,0,0.0,0.0
3,188.0,10004,1948-12-15,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,1,NaN,NaN
4,189.0,10005,1934-02-18,0.0,0.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,0,NaN,NaN

In [7]:
demo_df[cond_columns].dtypes

chf                        int64
copd                       int64
diabetes                   int64
hypertension               int64
stroke                     int64
hypoglycemia               int64
falls                      int64
liver_disease              int64
hypotension                int64
obesity                    int64
coronary_artery_disease    int64
fractures                  int64
renal                      int64
alzheimers                 int64
depression                 int64
dtype: object

In [8]:
demo_df['liver_disease'].value_counts()

0    771
1     11
Name: liver_disease, dtype: int64

In [9]:
demo_df.insert(3, 'total_conds', demo_df[cond_columns].sum(axis=1))
demo_df.head()

,tipsid,pin,d.o.b.,total_conds,medicaid,hospitalized,rpm_hospitalized,rpm_falls,rehospitalized,rpm_rehospitalized,chf,copd,diabetes,hypertension,stroke,hypoglycemia,falls,liver_disease,hypotension,obesity,coronary_artery_disease,fractures,renal,alzheimers,depression,gender_F,gender_M,lang_English,lang_Other,lang_Spanish,status_active,caregiver,live_alone
0,183.0,10001,1940-12-22,3,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,1,0.0,0.0
1,185.0,10002,1933-04-24,4,0.0,0.0,NaN,1.0,0.0,NaN,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,1,0.0,1.0
2,187.0,10003,1920-08-18,1,1.0,0.0,NaN,NaN,0.0,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,0,0.0,0.0
3,188.0,10004,1948-12-15,2,0.0,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,1,NaN,NaN
4,189.0,10005,1934-02-18,0,0.0,0.0,NaN,NaN,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,1.0,0.0,0.0,0,NaN,NaN

In [10]:
demo_df['rehospitalized'].unique()

array([  0.,  nan,   1.])

In [11]:
demo_df.dtypes

tipsid                     float64
pin                          int64
d.o.b.                      object
total_conds                  int64
medicaid                   float64
hospitalized               float64
rpm_hospitalized           float64
rpm_falls                  float64
rehospitalized             float64
rpm_rehospitalized         float64
chf                          int64
copd                         int64
diabetes                     int64
hypertension                 int64
stroke                       int64
hypoglycemia                 int64
falls                        int64
liver_disease                int64
hypotension                  int64
obesity                      int64
coronary_artery_disease      int64
fractures                    int64
renal                        int64
alzheimers                   int64
depression                   int64
gender_F                   float64
gender_M                   float64
lang_English               float64
lang_Other                 float64
lang_Spanish               float64
status_active                int64
caregiver                  float64
live_alone                 float64
dtype: object